@page
@model RazorPageOverride.Pages.Overrides.Index

@{
}

<p>Index - <strong>Overrides</strong></p>

<a asp-page="About">Go to About</a> * Note here that the link does direct to the Overrides/About page 
<br/>
<a asp-page="Contact">Go to Contact</a> * Note here that the link does not direct to Theme/Contact